[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/home/pi/my_env/bin/python /home/pi/project/Lab-08RPiServer/RPiDevelopmentServer/DataServer.py 
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
